<% if cached_recently_viewed_products.any? %>
	HAHAHAHAHAHAH
  <div id="recently_viewed" data-hook>
    <h3 class="product-section-title"><%= Spree.t(:recently_viewed_products) %></h3>
    <%= @order.line_items.map { |item| item.variant.product_id } %>
    <ul id="recently_viewed_products" class="list-group">
      <% count = 0 %>
      <% cached_recently_viewed_products.each do |product| %>
      	<% next if (current_page?('/cart') && @order.line_items.map { |item| item.variant.product_id }.include?(product.id)) || (current_page?('/products') && params[:id] == product.id)  %>
        <li class="list-group-item"><%= link_to product.name, product %></li>
        <% count += 1 %>
        <% break if count == 6 %>
      <% end %>
    </ul>
  </div>
<% end %>
